body {
  padding: 0;
  margin: 0;
  font: 13px "Source Sans Pro", Arial, Helvetica, sans-serif;
  background-color: #9ba5b5;
  color: #fff;
  text-align: center;
  height: 100%;
}

.moving-letters {
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 75px;
}

#map{
  /* position:relative; */

  height: 55%;
  width: 65%;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0;
  bottom: 0; 
  right: 0;
}


html {
  height: 100%;
}
