body {
  background-color: white;
}

th, td {
text-align: left;
padding: 8px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.jumbotron {
  background-color: rgb(71,163,218);
  margin-top: 25px;
}

.panel-body {
  background-color: rgb(71,163,218);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

#summary-table th {
  background-color: rgb(71,163,218);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.company {
  color: black;
}

.grid-container-css {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

.grid-item-css {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

.grid-item-css-p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  font-size: 20px;
  text-align: left;
}

.grid-item-css-s {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  text-align: center;
}
