<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dow Jones Industrial Plot</title>
  <link rel="stylesheet" type="text/css" href= {{ url_for ( "static" , filename="css/bootstrap.min.css") }} />
  <link rel="stylesheet" type="text/css" href= {{ url_for ( "static" , filename="css/style.css") }} />
  <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>
        Dow Jones Industrial
      </h1>
      <p></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-body">
            Profile
          </div>
        </div>
        <div class="company">
            The Dow Jones Industrial Average (DJIA), is a stock market index that indicates the value of 30 large, publicly owned companies based in the United States, 
            and how they have traded in the stock market during various periods of time. The value of the Dow is not a weighted arithmetic mean and does not represent its component companies' market capitalization, 
            but rather the sum of the price of one share of stock for each component company. The sum is corrected by a factor which changes whenever one of the component stocks has a stock split or stock dividend, 
            so as to generate a consistent value for the index.
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            Performance
          </div>
        </div>
        <!-- <div id="plot"></div> -->
        <div id="graph"></div>
      </div>
    </div>
</div>
</div>
    <script src="{{url_for('static', filename='js/DJI_app.js')}}"></script>
</body>

</html>
