<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Visualization & Insight Project</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href= {{ url_for ( "static" , filename="css/default.css") }} />
		<link rel="stylesheet" type="text/css" href= {{ url_for ( "static" , filename="css/component.css") }} />
		<link rel="stylesheet" type="text/css" href= {{ url_for ( "static" , filename="css/link_layout.css") }} />
		<link rel="stylesheet" type="text/css" href= {{ url_for ( "static" , filename="css/index.css") }} />
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<span>Team VIP</span>
				<h1>Visualization & Insight Project to decipher Crypto and Stock</h1>
				<nav>
					<a href="https://github.com/xliu510/Project_VIP" class="bp-icon bp-icon-next" data-info="GitHub"><span>Next Blueprint</span></a>
				</nav>
			</header>	
			<div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">
							<li>
								<a href="#">Crypto</a>
								<ul class="cbp-hssubmenu">
									<li><a href="/btc"><img src="../static/images/BTC.svg" alt="bitcoin svg"/><span>Bitcoin</span></a></li>
									<li><a href="/dash"><img src="../static/images/DASH.svg" alt="dash svg"/><span>Dash</span></a></li>
									<li><a href="/eth"><img src="../static/images/ETH.svg" alt="ethereum svg"/><span>Ethereum</span></a></li>
									<li><a href="/ltc"><img src="../static/images/LTC.svg" alt="litecoin svg"/><span>Litecoin</span></a></li>
									<li><a href="/xrp"><img src="../static/images/XRP.svg" alt="xrp svg"/><span>XRP</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#">Stocks</a>
								<ul class="cbp-hssubmenu cbp-hssub-rows">
									<li><a href="/dji"><img src="../static/images/dowJones.png" alt="dowjones png"/><span>Dow Jones Index</span></a></li>
									<li><a href="/inx"><img src="../static/images/sp500.png" alt="s&p 500 png"/><span>S&P 500 Index</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#">Cryptocurrency ATM Map</a>
								<ul class="cbp-hssubmenu cbp-hssub-rows">
								<li><a href="/map"><img src="../static/images/map.png" alt="Map png"/><span>Crypto Map</span></a></li>
								</ul>
							</li>

							<li>
								<a href="#">Our Mission</a>
								<ul class="cbp-hssubmenu cbp-hssub-rows">
									<li><a href="#"><img src="../static/images/mission-icon.png" alt="Mission png"/></a></li>
									<h2>Using Data Analytics for Price Discovery of Cryptocurrency and Stocks</h2>
								</ul>
							</li>
							<li>
								<a href="#">Contact</a>
								<ul class="cbp-hssubmenu cbp-hssub-rows">
									<li><a href="#"><img src="../static/images/ucberkleyextension.png" alt="UC Berkeley Extension png"/></a></li>
									<h2>160 Spear St, San Francisco, CA 94105</h2>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="jumbotron">
			  
				<p><a class="btn btn-primary btn-lg" id= "mybutton" href="/scrape" role="button">Click here to Scrape Latest News on Crypto</a></p>

				<section>
					<h3>{{ crypto.news_title1 }}</h3>
					<a class="link_website" href = "{{ crypto.link_list1}}"> {{ crypto.news_paragraph1 }}</a>

					<h3>{{ crypto.news_title2 }}</h3>
					<a class="link_website" href = "{{ crypto.link_list2}}"> {{ crypto.news_paragraph2 }}</a>

					<h3>{{ crypto.news_title3 }}</h3>
					<a class="link_website" href = "{{ crypto.link_list3}}"> {{ crypto.news_paragraph3 }}</a>

					<h3>{{ crypto.news_title4 }}</h3>
					<a class="link_website" href = "{{ crypto.link_list4}}"> {{ crypto.news_paragraph4 }}</a>

					<h3>{{ crypto.news_title5 }}</h3>
					<a class="link_website" href = "{{ crypto.link_list5}}"> {{ crypto.news_paragraph5 }}</a>
				</section>

			  </div>
		</div>
		
		
		
		<script src="../static/js/cbpHorizontalSlideOutMenu.min.js"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
	</body>
</html>
